<!-- Filter Datatable Options Starts -->
<section id="extended">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <div class="row akhil">
                            <div class="col-lg-4">
                                <div class="col-lg-12 input-group">
                                    <div class="col-lg-6">
                                        <div class="col-lg-12">
                                            <button class="btn btn-raised mr-1 btn-primary" (click)="goToaddcategory(':id')">Add Table</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <select id="projectinput5" class="form-control" id="getpage" (change)="getrecord()">
                                        <option value="10"  selected>10</option>
                                        <option value="10000">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <a class="btn btn-raised mr-1 btn-primary" (click)="exportAsXLSX()">Download List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <h4 class="card-title">Type List</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <table class="table table-responsive-md text-left">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Table Name</th>
                                    <th>Qr code</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of categorydata; index as i">
                                    <td>{{itemsPerPage *(currentPage-1)+i+1}}</td>
                                    <td>{{category.name}} </td>
                                    <td>
                                        <button class="btn btn-raised mr-1 btn-info" (click)="open(content,category.id)">View Qr code</button>
                                        
                                    </td>
                                    <!--<td> <button class="btn btn-raised mr-1 btn-success" (click)="genqrcode(category.id)">View Qr Code</button> {{qr}}</td>-->
                                    <td> 
                                       <!-- <a class="info p-0" data-original-title="" title="">
                                            <i class="ft-user font-medium-3 mr-2"></i>
                                        </a>-->
                                        <a class="success p-0" data-original-title="" title="" (click)="goToCreatecategory(category.id)">
                                            <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                        </a>
                                        <a class="danger p-0" data-original-title="" title="" (click)="deletecategory(category.id)">
                                            <i class="ft-x font-medium-3 mr-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-body" *ngIf="totalRecords !== ''">
                    <div class="card-block">
                        <ngb-pagination (pageChange)="handleChange($event)" [collectionSize]="totalRecords" [(page)]="initialPageValue" [maxSize]="5" [rotate]="true" [pageSize]="10" [boundaryLinks]="true"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-block">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Qr Code</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--<p>One fine body&hellip;</p>-->
                    <div class="card-body">
                        <qrcode id="qrCodeImage" [qrdata]="myAngularxQrCode" [size]="300" [level]="'M'"></qrcode>  
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->