<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Restaurant Form</div>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                        <form [formGroup]="UserForm"  novalidate>
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i>Restaurant Info</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter first name"
                                                    class="form-control" formControlName="name" required>
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('name').errors && (UserForm.get('name').touched || UserForm.get('name').dirty)">
                                                    <span *ngIf="UserForm.get('name').errors.required">Name is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Email</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter email"
                                                    class="form-control" formControlName="email" required email>
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('email').errors && (UserForm.get('email').touched || UserForm.get('email').dirty)">
                                                    <span *ngIf="UserForm.get('email').errors.required">Email is required</span>
                                                    <span *ngIf="UserForm.get('email').errors.email">Invalid Email ID</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Contact No </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter contact"
                                                    class="form-control" formControlName="mobile" required mobile>
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('mobile').errors && (UserForm.get('mobile').touched || UserForm.get('mobile').dirty)">
                                                    <span *ngIf="UserForm.get('mobile').errors.required">Mobile Number is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Code</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"
                                                    class="form-control" readonly formControlName="restaurant_id" required>
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('restaurant_id').errors && (UserForm.get('restaurant_id').touched || UserForm.get('restaurant_id').dirty)">
                                                    <span *ngIf="UserForm.get('restaurant_id').errors.required">Code is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter Address"
                                                    class="form-control" formControlName="address" required >
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('address').errors && (UserForm.get('address').touched || UserForm.get('address').dirty)">
                                                    <span *ngIf="UserForm.get('address').errors.required">Address is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant City</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter City"
                                                    class="form-control" formControlName="location" required >
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('location').errors && (UserForm.get('location').touched || UserForm.get('location').dirty)">
                                                    <span *ngIf="UserForm.get('location').errors.required">Location is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Locality</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter Locality"
                                                    class="form-control" formControlName="locality" required >
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('locality').errors && (UserForm.get('locality').touched || UserForm.get('locality').dirty)">
                                                    <span *ngIf="UserForm.get('locality').errors.required">Locality is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Pin</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter Pin"
                                                    class="form-control" formControlName="pin" required >
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('pin').errors && (UserForm.get('pin').touched || UserForm.get('pin').dirty)">
                                                    <span *ngIf="UserForm.get('pin').errors.required">Pin is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Contact Person</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text"  placeholder="Enter contact person"
                                                    class="form-control" formControlName="contactperson" required>
                                                <span class="form-text text-muted danger"
                                                    *ngIf="UserForm.get('contactperson').errors && (UserForm.get('contactperson').touched || UserForm.get('contactperson').dirty)">
                                                    <span *ngIf="UserForm.get('contactperson').errors.required">Contact person is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="projectinput1">Restaurant Logo</label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="file" style="display:none" (change)="filechange($event)" #fileinput  class="form-control-file">
                                                <button class="btn btn-raised btn-primary mr-2" (click)="fileinput.click()">select Image</button>
                                                <span>{{name}}</span>
                                                <span></span>
                                                <span>{{descen}}</span>
                                                <!--<span><img height="100px" width="100px" src="baseurl/{{descen}}" /></span>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span *ngIf="showErrorMsg" style="color: red">{{showErrorMsg}}</span>
                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1" (click)="Gotolist()">
                                    <i class="ft-x"></i> Cancel
                                </button>
                               <button *ngIf="showbutton" type="submit" 
                                class="btn btn-raised btn-raised btn-primary" (click)="edituser()"> <i class="fa fa-check-square-o"></i>Submit</button>
                                <button *ngIf="!showbutton" type="submit" 
                                class="btn btn-raised btn-raised btn-primary" (click)="createuser()"> <i class="fa fa-check-square-o"></i>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>