<!-- Basic form layout section start -->
<section id="basic-form-layouts">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Type Form</div>
        </div>
    </div>
    <div class="row text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                        <form [formGroup]="CategoryForm"  novalidate>
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Type Info</h4>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="projectinput1">Type Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter category name" class="form-control" formControlName="name" required name>
                                            <span class="form-text text-muted danger"
                                                *ngIf="CategoryForm.get('name').errors && (CategoryForm.get('name').touched || CategoryForm.get('name').dirty)">
                                                <span *ngIf="CategoryForm.get('name').errors.required">Name is required</span>
                                            </span>
                                        </div>
                                    </div>
                                 </div>
                             </div>

                            <div class="form-actions center">
                                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1" (click)="Gotolist()">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button *ngIf="showbutton" type="submit" class="btn btn-raised btn-raised btn-primary" (click)="editcategory()"> <i class="fa fa-check-square-o"></i>Submit</button>
                                <button *ngIf="!showbutton" type="submit"  class="btn btn-raised btn-raised btn-primary" (click)="createcategory()"> <i class="fa fa-check-square-o"></i>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>